.orbit-frame{
	margin: auto;
}

input.colorPicker{
	width:100px;
}
.evo-colorind, .evo-colorind-ie, .evo-colorind-ff {
	width: 16px;
	height: 22px;
}

#side_panels h4{
	padding: 10px 0 0 5px;
}

#side_panels .input-group-label{
	padding: 4px;
}

canvas{
	border: solid 5px #e6e6e6;
}

#available_assets ul.assets_table{
	margin-left: 0;
	list-style-type: none;
}

#available_assets ul.assets_table li a{
	margin: 0 4px;
}

a.asset{
	cursor: copy;
}

a.frames{
	cursor: crosshair;
}
.side_panel .shorten{
	height: 200px;
    overflow: scroll;
	box-shadow: inset -1px 0 20px rgba(10, 10, 10, 0.25);
}

#toolbox a, #text-list a{
	display: inline-block;
	width: 26px;
	height: 26px;
	margin-right: 4px;
	padding-left: 4px;
}

.ui-corner-all{
	margin-bottom: 5px;
}

[data-edit-action='Text'] {
	font-family: times;
}

#assetViewer .content img, .orbit-frame img{
	background-image: url(../img/bgtransp.png);
	background-color: aliceblue;
}

#textForm, #eventForm{
	display: none;
}

select[multiple]{
	height: 120px;
}

fieldset {
	padding: 5px;
	border: dashed 1px #AAA;
	margin: 0 0 5px;
}

.help-text{
	height: 22px;
	overflow: hidden;
	line-height: 14px;
	color: #AAAAAA
}

.help-text:hover, .help-text.show-all{
	height: auto;
	color: #0a0a0a;
}

#message-container{
	position: fixed;
	bottom: 0;
	z-index: 100;
	width: 100%;
	padding: 0 20px;
}

#floating-toggler{
	position: fixed;
	left: -400px;
	top: 200px;
	z-index: 100;
	width: 20px;
	padding: 0 20px;
}

#floating-toggler.hide{
	left: -400px;
}

.orientation{
	color: #cecece;
	cursor: pointer;
}
.orientation:hover{
	color: black;
}
.orientation.selected{
	color: #14679e;
}

.orientation[data-geo='n'] i{
	transform: rotate(-45deg);
}
.orientation[data-geo='nw'] i{
	transform: rotate(-90deg);
}
.orientation[data-geo='w'] i{
	transform: rotate(-135deg);
}
.orientation[data-geo='sw'] i{
	transform: rotate(-180deg);
}
.orientation[data-geo='s'] i{
	transform: rotate(-225deg);
}
.orientation[data-geo='se'] i{
	transform: rotate(90deg);
}
.orientation[data-geo='e'] i{
	transform: rotate(45deg);
}

#wordsearchPreview td{
	border: solid 1px #cecece;
	text-align: center;
}
[data-row]{
	color: #cecece;
}
#wordsearchPreview [data-row].error{
	color: red;
}
[data-row].edit{
	color: black;
}


/*****************
 * Foundation
 ***************/

.grid-x .cell{
	padding-right: 5px;
}

.grid-x .cell:last-child{
	padding-right: 0px;
}

/* Foundation */
.badge {
	font-size: 0.75rem;
}
.tabs-title > a {
	font-size: 1rem;
	line-height: 1rem;
}

.accordion-title {
	font-size: 1rem;
}
